<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arriyam.newsocketiotest2">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewSocketIOTest2"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.arriyam.newsocketiotest2.RulesActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.arriyam.newsocketiotest2.login.LoginActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.arriyam.newsocketiotest2.login.UsernameActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.arriyam.newsocketiotest2.game.DrawingActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.arriyam.newsocketiotest2.game.GuessingActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.arriyam.newsocketiotest2.game.AnswerActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.arriyam.newsocketiotest2.game.EndActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>